{{#each this}}
<div class="card">
    <img src={{webformatURL}} alt={{tags}} >

    <div class="info">
        <p class="info-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
        </p>
        <p class="info-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="info-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="info-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
{{/each}}